<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="feedback.css">
    <title>do&#178 - Feedback</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><h1>do<sup>2</sup></h1></a>
        </div>
    
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="feedback">Feedback</a></li>
                <li><a href="signin.html">Sign In</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="recommend">
            <div>
                <h1>What They Are Saying About <span class="lg-style">do<sup>2</sup></span></h1>
                <div>
                    <blockquote class="quote">I finally started using a proper to-do list this year, and it's made keeping track of my work tasks (and home to-dos) so much easier.</blockquote>
                    <span class="source">- The Berge</span>
                </div>
            </div>
        </section>

        <section class="feedback">
            <h1>We Love To Hear From You</h1>
            <img src="assets/feedback.png" alt="Illustration of two women standing looking at their mobile phones.">
            <form action="/testimonial" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <label for="comment">Comment:</label>
                <textarea name="comment" rows="10" cols="50" placeholder="Tell us your story..."></textarea>
                <input type="submit" value="Share">
            </form>
        </section>

        <section class="testimonial">
            <div>
                <h1>What You Are Saying About <span class="lg-style">do<sup>2</sup></span></h1>
                <div>
                    <blockquote>Fantasic app for planning your day and future tasks. Has remainder and overlay for easier use for each day.</blockquote>
                    <span>- EG</span>
                </div>
                <div>
                    <blockquote>It's minimal and clean and is packed with features but only the ones that are absolutely necessary.</blockquote>
                    <span>- MT</span>
                </div>
                <div>
                    <blockquote>Is the most functional solution at the moment, which can be used at home and in business.</blockquote>
                    <span>- FR</span>
                </div>
                <div>
                    <blockquote>Is the most functional solution at the moment, which can be used at home and in business.</blockquote>
                    <span>- FR</span>
                </div>
                <div>
                    <blockquote>This app is the best thing in my life for organizing the million and one things I need to do.</blockquote>
                    <span>- JD</span>
                </div>
                <div>
                    <blockquote>Adding this app to my daily routine has helped me stay very organized with my business and personal life.</blockquote>
                    <span>- SL</span>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="feedback">Feedback</a></li>
                <li><a href="signin.html">Sign In</a></li>
            </ul>
        </nav>
        <div>
            <a href="#"><img src="assets/intagram.png" alt="Instagram logo"></a>
            <a href="#"><img src="assets/fb.png" alt="Facebook logo"></a>
            <a href="#"><img src="assets/twitter.png" alt="Twitter logo"></a>

        </div>
        <p>do<sup>2</sup> &copy 2022</p>
    </footer>
    <script src="feedback.js"></script>
</body>
</html>