.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9vw;
}

.signup h1 {
    /* font-size: 3vw; */
    font-size: clamp(1.3rem, 3vw, 3rem);
    margin-bottom: 4vw;
}

.signup img {
    /* width: 35vw; */
    width: clamp(10rem, 30vw, 30rem);
    margin-right: 5vw;
}

.signup label {
    display: block;
    /* font-size: 1.8vw; */
    font-size: clamp(.8rem, 1vw, 1rem);
    margin-bottom: 1vw;
}

.signup input {
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 10px hwb(0 83% 17%);
    /* font-size: 1.2vw; */
    font-size: clamp(.8rem, 1vw, 1rem);
    padding: 1vw;
    margin-bottom: 3vw;
}

.signup input[type=submit] {
    /* font-size: 1.2vw; */
    font-size: clamp(.7rem, 1vw, .5rem);
    padding: 0.6vw 0.8vw;
    transition: 0.3s ease-in-out;
}

.signup input[type=submit]:hover {
    color: #fff;
    background-color: var(--accent-color);
}

.signup div div {
    margin-top: 4vw;
}

.signup a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    /* font-size: 1vw; */
    font-size: clamp(.5rem, 1vw, 1rem);
}